<%- include('partials/header.ejs') %>
<h1>Compose</h1>
<form action="/compose" method="POST">
  <div class="form-group">
    <label for="postTitle" class="form-label">Title</label>
    <input class="form-control" type="text" id="postTitle" name="postTitle" />
</div>
<div class="form-group">
    <label for="newPost" class="form-label">Post</label>
    <textarea
      class="form-control"
      name="newPost"
      id="newPost"
      rows="4"
      cols="50"
    ></textarea>
</div>
    

    <button
      class="btn btn-primary btn-md"
      type="submit"
      name="publish"
      value="publishPost"
    >
      Publish
    </button>
  
</form>

<%- include('partials/footer.ejs') %>
